/*This stylesheet contains only typography styles*/

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Italic.eot');
    src: url('../fonts/Open_Sans/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans/OpenSans-Italic.woff') format('woff'),
    url('../fonts/Open_Sans/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Bold.eot');
    src: url('../fonts/Open_Sans/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans/OpenSans-Bold.woff') format('woff'),
    url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Light.eot');
    src: url('../fonts/Open_Sans/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans/OpenSans-Light.woff') format('woff'),
    url('../fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans.eot');
    src: url('../fonts/Open_Sans/OpenSans.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans/OpenSans.woff') format('woff'),
    url('../fonts/Open_Sans/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/Open_Sans/OpenSans-Semibold.eot');
    src: url('../fonts/Open_Sans/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Open_Sans/OpenSans-Semibold.woff') format('woff'),
    url('../fonts/Open_Sans/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

h1{
    font-size: 36px;
    font-weight: bold;
}

h2{
    font-size: 32px;
    font-weight: 600;
}

h3{
    font-size: 28px;
    font-weight: 600;
}

h4{
    font-size: 24px;
    font-weight: 500;
}

h5{
    font-size: 20px;
    font-weight: 400;
}

h6{
    font-size: 16px;
    font-weight: normal;
}


@media (max-width: 991px) {
    h1{
        font-size: 32px;
        font-weight: bold;
    }

    h2{
        font-size: 28px;
        font-weight: 600;
    }

    h3{
        font-size: 24px;
        font-weight: 600;
    }

    h4{
        font-size: 20px;
        font-weight: 500;
    }

    h5{
        font-size: 16px;
        font-weight: 400;
    }

    h6{
        font-size: 12px;
        font-weight: normal;
    }
}

@media (max-width: 767px) {
    h1{
        font-size: 28px;
        font-weight: bold;
    }

    h2{
        font-size: 24px;
        font-weight: 600;
    }

    h3{
        font-size: 20px;
        font-weight: 600;
    }

    h4{
        font-size: 16px;
        font-weight: 500;
    }

    h5{
        font-size: 12px;
        font-weight: 400;
    }

    h6{
        font-size: 8px;
        font-weight: normal;
    }
}

@media (max-width: 473px){
    h1{
        font-size: 24px;
        font-weight: bold;
    }

    h2{
        font-size: 20px;
        font-weight: 600;
    }

    h3{
        font-size: 16px;
        font-weight: 600;
    }

    h4{
        font-size: 12px;
        font-weight: 500;
    }

    h5{
        font-size: 8px;
        font-weight: 400;
    }

    h6{
        font-size: 4px;
        font-weight: normal;
    }
}